
.bg-img{
    background-image: url("https://i.ytimg.com/vi/_poaE1WdG3k/maxresdefault.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.head-card{
    width: 100%;
    margin-top: -100px;
    border: none;
    -webkit-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.75);
}


.main-card {
box-shadow: 0px 13px 28px 0px rgba(0,0,0,0.5)
}

.footer-page {
  color: white;
  background-color: rgb(45,50,70);
}

.footer-page a {
  color: #9bcbff;
}